/* ? BTN - TAP TO LEARN MORE */

.more_info_box {
  position: absolute;
  bottom: 60px;
  display: flex;
  gap: 15px;
  align-items: center;
  color: gray;
  font-weight: 400;
  display: none;
}

.tap_circle {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  position: relative;
  animation: scaleAnimation 5s infinite;
  animation-timing-function: ease-in-out;
}

.tap_circle::after {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes scaleAnimation {

  0%,
  100% {
    transform: scale(1);
    /* Начальное и конечное состояние - оригинальный размер */
  }

  50% {
    transform: scale(1.2);
    /* Увеличение размера на 20% */
  }
}



/* ? PLANET LIST CONTAINER */


.planet-list-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}

.sun-box {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 400px;
  background-image: url('../images/Planets/sun.png');
  background-size: cover;
  background-position: center;
}

.planet_list_box {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
  /* overflow-y: scroll; */
}

.planet_item {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: stretch;
  padding: 10px 15px;
  color: rgb(172, 170, 170);
}

.planet_list_name {
  flex-basis: 33.333%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.planet_list_img_box {
  flex-basis: 33.333%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.planet_list_img {
  width: 100%;
  height: auto;
  /* Для сохранения пропорций изображения */
  object-fit: contain;
  /* Чтобы изображение покрывало всю доступную область */
}

.planet_list_info {
  flex-basis: 33.333%;
  flex-grow: 1;
}